body {
	background-color: white;
	margin: 0;
	padding: 0px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	color: white;
	padding-left: 30px;
	background-color: #63a7f7;
}

/*font 
@font-face {
	font-family: 'SF-TransRobotics';
	src: url('http://www.dafont.com/sf-transrobotics.ttf') format('truetype');
}
*/